<div class="side-menu">
    <ul class="side-menu__lists">
        <li class="side-menu__lists__title">Main</li>
        <li class="side-menu__lists__list{{#is basename 'dashboard'}} active{{/is}}">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li class="side-menu__lists__list{{#is basename 'ui_kit'}} active{{/is}}">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                </svg>
                Ui Kit
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li class="side-menu__lists__title">Main</li>
        <li class="side-menu__lists__list">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li class="side-menu__lists__list">
            <a href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                </svg>
                Dashboard
            </a>
        </li>        <li class="side-menu__lists__list">
                    <a href="#">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                        </svg>
                        Dashboard
                    </a>
                </li>
                <li class="side-menu__lists__list">
                    <a href="#">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                        </svg>
                        Dashboard
                    </a>
                </li>        <li class="side-menu__lists__list">
                            <a href="#">
                                <svg class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                                </svg>
                                Dashboard
                            </a>
                        </li>
                        <li class="side-menu__lists__list">
                            <a href="#">
                                <svg class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
                                </svg>
                                Dashboard
                            </a>
                        </li>
    </ul>
</div>
