.topbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    .nav-bar{
        position: relative;
        height: $nav-height;
        background: $default-bg;
        &--left{
            width: $nav-left-width;
            float: left;
            text-align: center;
        }
        &--right{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
        &__lists{
            line-height: $nav-height;
            &--left{

            }
            &--right{
            }
            &__link{
                display: inline-block;
                padding: 0 20px;                
            }
        }
    }
}
